
//colors,( using American spelling for consistency )
$color-primary-1: #00539CFF;
$color-primary-2: #FFD662FF;

$next-btn-color: #ffa701;

$color-black: #1B1E23;
$color-white: #fff;
$color-green: #86DC3D;
$color-red: #C21808;

$font-primary: 'Nunito', sans-serif;

// break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;