
//colors,( using American spelling for consistency )
$color-primary-1: #23211E;
$color-primary-2: #FF5F35;
$color-black: #1B1E23;
$color-white: #fffdfa;
$color-green: #86DC3D;
$color-red: #C21808;

$font-primary: 'Nunito', sans-serif;

// break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;