@import '../../styles/variables.scss';

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px;

	.main-title {
		text-align: center;
		font-size: 3rem;
		padding-bottom: 2rem;
		color: $color-primary-2;
		@media (min-width: $sm) {
			font-size: 4rem;
		}
		@media (min-width: $lg) {
			font-size: 6rem;
		}
	}

	.app-container {
		background-color: $color-primary-2;
		width: 100%;
		max-width: 800px;
		min-height: 600px;
		padding: 20px;
		border: 5px solid $color-black;
		border-radius: 20px;		
	}
}