@import '../../styles/variables.scss';


.game-component {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: space-around;
	align-items: center;
	color: $color-black;
	border-radius: 15px;

	.number-display {
		font-size: 3rem;
	}

	.question {
		text-align: center;
		font-size: 2rem;
	}

	.answers-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1.3rem;
		padding: 0 1.3rem;
	}

	.next-btn-container {
		width: 350px;
		max-width: 100%;
	}
}

.correct {
	background-color: $color-green;
}

.incorrect {
	background-color: $color-red;
}