@import '../../styles/variables.scss';


.button-component {
	width: 100%;
	cursor: pointer;
	color: $color-white;
	background-color: $color-primary-1;
	min-height: 92px;
	padding: 0.5rem 1.3rem;
	border: 1px solid $color-black;
	border-radius: 25px;
	font-size: 1.5rem;
	transition: 0.3s ease-in;
	@media (min-width: $sm) {
		font-size: 1.8rem;
	}
	@media (min-width: $md) {
		font-size: 2rem;
	}

	&:hover:enabled {
		color: $color-black;
		background-color: $color-primary-2;
	}

	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
		:hover {
			background-color: $color-primary-2;
		}
	}
}

.next-btn {
	background-color: $next-btn-color;
	color: $color-black;
	opacity: 1;
}

.correct {
	background-color: $color-green;
}

.incorrect {
	background-color: $color-red;
}
