@import '../../styles/variables.scss';


.button-component {
	width: 100%;
	cursor: pointer;
	color: $color-white;
	background-color: $color-primary-1;
	min-height: 75px;
	border: 1px solid $color-black;
	border-radius: 25px;
	font-size: 2rem;
}