@import '../../styles/variables.scss';


.button-component {
	width: 100%;
	cursor: pointer;
	color: $color-white;
	background-color: $color-primary-1;
	min-height: 75px;
	padding: 0 1.3rem;
	border: 1px solid $color-black;
	border-radius: 25px;
	font-size: 2rem;
	transition: 0.3s ease-in-out;

	&:hover {
		color: $color-black;
		background-color: $color-primary-2;
	}
}

.red {
	background-color: red;
}